<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
        <div id="floatTools" class="float0831">
            <div class="floatL">
                <a title="查看在线客服" class="btnOpen" id="aFloatTools_Show" style="display: block;" onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show(); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" href="javascript:void(0);">展开</a> 
                <a title="关闭在线客服" class="btnCtn" id="aFloatTools_Hide" style="display: none;" onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide(); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" href="javascript:void(0);">收缩</a>
            </div>
            <div id="divFloatToolsView" class="floatR">
                <div class="tp"></div>
                <div class="cn">
                    <ul>
                        <li class="top">
                            <h3 class="titZx">
                                QQ咨询
                            </h3>
                        </li>
                        <li>
                            <span class="icoZx">在线咨询</span>
                        </li>
                        <li>
                            <a class="qqOn" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2278808483&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2278808484:41 &r=0.8940031429092906" alt="长沙写字楼网" title="长沙写字楼网"></a>
                        </li>
                        <li>
                            <a class="qqOn" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=954149012&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:954149011:41 &r=0.8940031429092906" alt="长沙写字楼网" title="长沙写字楼网"></a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3 class="titDh">
                                电话咨询
                            </h3>
                        </li>
                        <li>
                            <span class="icoTl">400-000-000</span>
                        </li>
                        <li class="bot">
                            <h3 class="titDc">
                                <a href="http://www.cslou.com/" target="_blank">长沙写字楼网</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
           <div class="title center-align">
     <% if (is_home() && config.subtitle && config.subtitle.length > 0) { %>
        <%= config.subtitle %>
     <% } else { %>
        <%= page.title %>
     <% } %>
</div>

            <div class="description center-align">
                <% if (theme.subtitle.enable) { %>
                <span id="subtitle"></span>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script>
                    var typed = new Typed("#subtitle", {
                        strings: [ 
                            <% theme.subtitle.sub.forEach(function(item){%>
                                "<%= item %>",
                            <% }) %>
                        ],
                        startDelay: <%= theme.subtitle.startDelay %>,
                        typeSpeed: <%= theme.subtitle.typeSpeed %>,
                        loop: <%= theme.subtitle.loop %>,
                        backSpeed: <%= theme.subtitle.backSpeed %>,
                        showCursor: <%= theme.subtitle.showCursor %>
                    });
                </script>
                <% } else { %>
                    <%= config.description %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% if (theme.banner.enable) { %>
<script>
    // 每天切换 banner 图.  Switch banner image every day.
    //var bannerUrl = "<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" + new Date().getDay() + '.jpg';
    var bannerUrl = "<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" + 1'.jpg';
    $('.bg-cover').css('background-image', 'url(' + bannerUrl + ')');
</script>
<% } else { %>
<script>
    $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %><%- url_for('/medias/banner/0.jpg') %>)');
</script>
<% } %>
