<header class="navbar-fixed">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper container">
            <div class="brand-logo">
                <a href="<%- url_for() %>" class="waves-effect waves-light">
                    <% if (theme.logo !== undefined && theme.logo.length > 0) { %>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.logo) %>" class="logo-img" alt="LOGO">
                    <% } %>
                    <span class="logo-span"><%= config.title %></span>
                </a>
            </div>
            <%- partial('_partial/navigation') %>
        </div>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
        <% } %>
    </nav>
<div class="sideBar">
    <div>
        <div class="tips">在线客服</div>
        <ul class="list">
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=5064072&site=qq&menu=yes">在线客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=5064072&site=qq&menu=yes">在线客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=5064072&site=qq&menu=yes">在线客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=5064072&site=qq&menu=yes">在线客服</a></li>
        </ul>
    </div>
</div>
</header>
